*{ padding: 0; margin: 0; }
a{ text-decoration: none }
img{ border: 0;}
ul li{ list-style: none; }
.banner_inner {
	z-index: 1;
	overflow: hidden;
	position: relative;
	height: 334px;
}
.banner_inner:hover .arrow.pre{ left: 10px; }
.banner_inner:hover .arrow.next{ right: 10px; }
.arrow.pre{ left: -60px; }
.arrow.next{ right: -60px; }
.arrow{
	z-index: 100;
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	border-radius: 50%;
	font-size: 25px;
	color: #ccc;
	text-align: center;
	line-height: 40px;
	background-color: rgba(0,0,0,0.3);

	transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-o-transition: 0.3s linear;
}
.tab {
	z-index: 100;
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
}
.tab span {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 3px;
	background-color: rgba(105, 105, 105, 0.5);
	border-radius: 50%;
	border: 2px solid #887b6e;
	cursor: pointer;
}
.tab span:hover { background-color: #e2ceb7; }
.tab span.on { background-color: #e2ceb7; }
.imgbox li{width: 770px;height: 334px;}
.imgbox li img{ width: 100%; height: 100%; }

/*fade*/
#fade { width: 770px; margin: 50px auto; }
#fade .imgbox li {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;

	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}

/*slide*/
#slide { width: 770px; margin: 50px auto; }
#slide .imgbox{
	position: absolute;
	left: 0px;

	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
#slide .imgbox li{ float: left; }
